* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
body {
    font-family: "Montserrat", sans-serif;
    color: #7d7f84;
}
    /* flex properties css */
.flex {
    display: flex;
    }
.flex-wrap {
    flex-wrap: wrap;
    }
.flex-centered {
    justify-content: center;
    }
.align-center {
    align-items: center;
    }
.flex-column {
    flex-direction: column;
    }
.flex-between {
    justify-content: space-between;
    }
    /* Generic properties */
.container {
    width: 100%;
    height: calc(100vh - 100px);
    }
h1,
h2,
h3 {
    color: white;
    }
h2 {
    font-size: 1rem;
    }
h3 {
    font-size: 1rem;
    }
hr {
    width: 180px;
    margin: 0.5rem 0;
    }
/* Specific Properties */
p.little {
    text-align: start;
    margin-bottom: 1rem;
    font-size: 0.9rem;
    }
header.main {
    width: 230px;
    height: 100%;
    background-color: black;
    overflow-y: hidden;

    }
main {
    width: calc(100% - 230px);
    background-color: #141922;
    overflow-y: auto;
    }
    /* Footer section with player display container */
footer {
    height: 100px;
    background-color: #282828;
    z-index: 3;
    position: relative;
    overflow: hidden;
    }
footer img {
    width: 10%;
    height: 10%;
    display: block;
    margin: 1rem;
}

footer p.sinister {
    font-weight: bold;
    color: white;
    font-size: 0.9rem;
    margin-top: 1.2rem;
    cursor: pointer;
}
p.footerlittle {
    font-size: 0.9rem;
    font-weight: normal;
    color: #7d7f84;
    }
    /* Player Structure */
/* MAIN FOOTER SECTION WITH VOLUME SECTION */
div#name-track{
    margin-bottom: 1rem;
}
.fa-heart{
    margin:0.3rem;
}


div.heart-folder {
    margin:1.7rem;
    }
div.heart-folder:hover{

}

div.footerright {
    margin: 0 1rem;
    }
div.footerright i {
    margin: 0 0.5rem;
    }
div.player-buttons i {
    margin: 0rem 1rem 1rem 1rem;
    color: white;
    font-size: 0.9;
    cursor: pointer;
    }

div.player-buttons i:nth-child(3) {
    font-size: 1.5rem;
    font-size: 1.7rem;
    }

div.play-bar-commands p {
    color: white;
    font-size: 0.9rem;
    font-size: 0.7rem;
    font-weight: bold;
    }

div.play-bar {
    width: 30vw;
    }
div.played-bar {
    height: 4px;
    width: 25%;
    background-color: #7d7f84;
    vertical-align: middle;
    margin-left: 20px;
    }

div.to-play-bar {
    height: 4px;
    width: 75%;
    background-color: #3d3e41;
    vertical-align: middle;
    margin-right: 20px;
    }
div.played-bar:hover i.fa-circle {
        display: inline;
        cursor: pointer;
}
div.played-bar i.fa-circle {
        position: absolute;
        bottom: -5px;
        left: 95%;
        color: white;
        display: none;
}

/* Volume Slider Test */

    .slider input[type="range"] {
    width: 100px;
    border: none;
    outline: none;
    }
    
        
/* Secondary Header */
    /* Library  */
.discs-library{
    margin:1rem;
}
header.secondary {
    height: 90px;
    background-color: #080b12;
    text-align: right;
    }
button.upgrade {
    border: 1px solid white;
    color: white;
    font-weight: bold;
    background-color: #141922;
    padding: 1rem 1.5rem;
    border-radius: 25px;
    margin-top: 1.3rem;
    margin-right: 1rem;}
button.upgrade:hover {
    transform: scale(1.1);
    color: #adff2f;
    }
nav.sec-navbar {
    text-align: center;
    padding-top: 1rem;
    }

nav.sec-navbar ul li{
    display: inline;
    list-style: none;
    font-size: 0.7rem;
    font-weight: bold;
    padding: 0 1rem;
}


nav.sec-navbar ul li:first-child {
        position: relative;
    }
li:hover {
    color: white;
    cursor: pointer;
    }
div.discs-firs-trow {
    padding: 1rem 3rem;
    text-align: center;
    }
div.discs-first-row h1 {
    padding-bottom: 1rem;
    text-align: start;
    }
div.discs-first-row h2 {
    padding-top: 1rem;
    padding-bottom: 0.5rem;
    line-height: 100%;
    margin: 0.2rem;
    }
div.discs-first-row p {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-size: 0.9rem;
    }
div.disc {
    width: calc(100% / 6);
    
    }
figure {
    position: relative;
    }
figure img {
    width: 100%;
    padding-right: 1rem;
    
}


/* Button Section */
.play-button {
    font-size: 3.5rem;
    color: white;
    position: absolute;
    top: 50%;
    left: 47%;
    transform: translate(-50%, -50%);
    display: none;
}
/* hover */
figure.circle img {
    border-radius: 50%;
    }
header.main img.logo {
    width: 60%;
    margin: 1rem 0 0 1rem;
    }
header.main img.logo-mini {
    width: 60%;
    margin: 1rem 0 0 0.5rem;
    display: none;
    }
figure:hover .play-button {
    display: inline;
    cursor: pointer;
        }
figure:hover {
    filter: grayscale(60%);
    opacity: 0.75;
    cursor: pointer;
}
.fa-heart:hover{
    cursor: pointer;
    color: white
}
.fa-folder:hover{
    cursor: pointer;
    color: white  
}
div.played-bar:hover {
    background-color: #adff2f;
    cursor: pointer;
}
/* div.volumebar,div.volumedown:hover{
    background-color: #adff2f;
    cursor: pointer;
} */
i.fa-circle-play:hover{
    color: #adff2f;
    cursor: pointer;
}
i.fa-shuffle:hover{
    color: #adff2f;
    cursor: pointer;
}
i.fa-repeat:hover{
    color: #adff2f;
    cursor: pointer;
}
p.sinister:hover{
    color: #adff2f;
    cursor: pointer;
}
h2:hover{
    color: #adff2f;
    cursor: pointer;
}


div.played-bar:hover i.fa-circle {
    display: inline;
    cursor: pointer;
}




/* Side bar hide&seek */
div.hidden {
    display: none;
}
div.hidden:hover{
}

header.main ul li {
    list-style-type: none;
    margin-left: 1rem;
    font-weight: bold;
    font-size: 0.8rem;
    }
header.main ul li:first-child {
    margin-top: 1rem;
    }
header.main ul li img {
    width: 12%;
    }
header.main h3 {
    margin: 1rem 0 0 1rem;
    }
header.main ul.playlist i {
    font-size: 3rem;
    vertical-align: middle;
    }
header.main ul.playlist li {
    padding: 0.5rem 0;
    }
header.main ul li.active {
    margin-top: 1rem;
    color: white;
    position: relative;
    }    
/*Div containers  */

div.green-tag {
    height: 1.5rem;
    width: 3px;
    background-color: #adff2f;
    box-shadow: 1px 1px 10px 3px rgb(1, 255, 86);
    /* in order: x offset, y offset, blur size, spread size, color */
    /* blur size and spread size are optional (they default to 0) */
    position: absolute;
    top: 1px;
    right: 227px;
}
div.green-line {
    background-color: #adff2f;
    box-shadow: 1px 1px 10px 3px rgb(1, 255, 86);
    /* in order: x offset, y offset, blur size, spread size, color */
    /* blur size and spread size are optional (they default to 0) */
    height: 3px;
    width: 25px;
    position: absolute;
    top: 16px;
    left: 50px;
}

div.down ul li:first-child {
    font-size: 0.9rem;
    }
div.down img.download {
    vertical-align: middle;
    font-size: 1rem;
    margin: 0.5rem;
    }
div.down img.profile {
    background-color: #808080;
    border-radius: 50%;
    vertical-align: middle;
    margin: 1rem;
    }
div.down ul li:last-child {
    margin-bottom: 1rem;
    }

/* Responsivness Section */
/* Desktop */

@media screen and (max-width: 992px) {
    div.disc {
        width: calc(100% / 4);
    }
    }
    /* Taaableeet */
@media screen and (max-width: 768px) {
    div.disc {
        width: calc(100% / 2);

    }
    div.heart-folder {
        flex-direction: column;
    }
    }
    div.green-tag {
        height: 1.5rem;
        width: 3px;
        background-color: #adff2f;
        position: absolute;
        top: 1px;
        right: 227px;
    }
    /* Fone */

@media screen and (max-width: 576px){
    header.main {
        width: 50px;
    }
    main {
        width: calc(100% - 50px);
    }
    header.main img.logo {
        display: none;
    }
    header.main ul li {
        display: none;
    }
    header.main h3 {
        display: none;
    }
    header.main img.logo-mini {
        display: inline;
        margin-bottom: 1rem;
    }
    div.hidden {
        display: inline-block;
        align-items: center;
    }
    div.hidden img {
        width: 60%;
        margin-left: 0.6rem;
        margin-bottom: 0.7rem;
    }
    
    div.heart-folder {
        flex-direction: column;
    }

    }

